<div class="sidenav-container-figma">

  <div class="user-profile-figma">
  <a (click)="logout()" title="Sair" style="cursor: pointer;">
    <i class="fas fa-sign-out-alt"></i>
  </a>
  </div>  

  <nav class="main-nav-figma">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-link-figma" title="Dashboard">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a routerLink="/characters" routerLinkActive="active-link-figma" title="Personagens">
          <i class="fas fa-user-friends"></i>
        </a>
      </li>
      <li>
        <a routerLink="/episodes" routerLinkActive="active-link-figma" title="Episódios">
          <i class="fas fa-film"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="user-profile-figma">
    <a routerLink="/profile" title="Meu Perfil">
      <i class="fas fa-user-circle"></i>
    </a>
  </div>
</div>